    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="tag-{{id}}"  data-tag-id={{id}} {{#if checked}} checked {{/if}}>
        <label class="form-check-label" for="tag-{{id}}">
          {{tag_name}}
        </label>
      </div>