<div class="col-12">
    <div class="card my-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div style="font-weight: bold">
                {{user.username}}
            </div>
            <div>
                {{{format_date date_created}}}
            </div>
        </div>
        <div class="card-body">
            {{content}}
        </div>
    </div>
</div>