<!--Login form-->

<form class="form login-form">
  <div class="card text-center mt-5" style="border:2px solid #7d7979">
    <h2 class="card-header">Login</h2>
    <div class="card-body">
      <div class="form-group">
        <label for="email-login">Email </label><br />
        <input
          class="form-input"
          type="text"
          id="email-login"
          style="width:70%"
        />
      </div><br />
      <div class="form-group">
        <label for="password-login">Password</label><br />
        <input
          class="form-input"
          type="password"
          id="password-login"
          style="width:70%"
        />
      </div><br />
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="submit"
          style="width:70%"
        >login</button>
      </div><br />
      <a href="#" onclick="showSignupFormHandler(event)">Create an account</a>

    </div>
  </div>
</form>
<!--Sign Up form-->

<form class="form create-form" style="display:none">
  <div class="card text-center mt-5" style="border:2px solid #7d7979">
    <h2 class="card-header">Sign Up</h2>
    <div class="card-body">
      <div class="form-group">
        <label for="name-create">Username</label><br />
        <input
          class="form-input"
          type="text"
          id="name-create"
          style="width:70%"
        />
      </div><br />
      <div class="form-group">
        <label for="email-login-create">Email</label><br />
        <input
          class="form-input"
          type="text"
          id="email-login-create"
          style="width:70%"
        />
      </div><br />
      <div class="form-group">
        <label for="password-login-create">Password</label><br />
        <input
          class="form-input"
          type="password"
          id="password-login-create"
          style="width:70%"
        />
      </div><br />
      <div class="form-group">
        <button class="btn btn-primary" type="submit" style="width:70%">Create
          account</button>
      </div><br />
      <a href="#" onclick="showLoginFormHandler(event)">Login</a>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>
<script src="/js/create.js"></script>