<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<form class="form create-form">
  <div class="form-group">
    <label for="name-create">username:</label>
    <input class="form-input" type="text" id="name-create" />
  </div>
  <div class="form-group">
    <label for="email-login-create">email:</label>
    <input class="form-input" type="text" id="email-login-create" />
  </div>
  <div class="form-group">
    <label for="password-login-create">password:</label>
    <input class="form-input" type="password" id="password-login-create" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create account</button>
  </div>
</form>

<script src="/js/login.js"></script>
<script src="/js/create.js"></script>