<form>
  <div class="form-group">
    <label for="product-name">Product Name</label>
    <input type="input" class="form-control" id="product-name" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="input" class="form-control" id="price" />
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <select class="form-control" id="stock">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <br />
  <button type="button" class="btn btn-primary" id="add-product">Add Product</button>
</form>

<script src="/js/addproduct.js"></script>