<div class="row justify-content-around">
<button class="btn buy-btn btn-success m-5 p-3" style = "width: 90%"><h5>Add New Product</h5></button>
</div>
<div class="row justify-content-around">
{{#each products as |product| }}
{{> product-cards}}
{{/each}}
</div>
