<div class="row justify-content-around">
<button class="btn btn-success m-5 p-3" id = 'add-product' style = "width: 90%"><h5>Add New Product</h5></button>
</div>
<div class="row">
{{#each products as |product| }}
{{> product-cards}}
{{/each}}
</div>
<script src="/js/profile.js"></script>
